//========================================
// Mixins
//========================================

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  max-width: 70em;
  margin-right: auto;
  margin-left: auto;
}

.header-link {
  display: block;
  float: left;
  position: relative;
  padding-left: .75em;
  padding-right: .75em;
  color: $f-lighter;
  transition: color $normal; 

/*  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    transform: scaleX(0);
    background-color: $bg-dark;
    transition: transform $normal;
    transition: height $fast;
  }*/

  &:hover {
    text-decoration: none;
    color: $brand-primary;

    /*&:after {
      transform: scaleX(1);
      height: 2px;
      background-color: $brand-primary;
    }*/
  }
  
  &:active {
    text-decoration: none;
    color: $brand-primary;
  }

  &:focus {
    text-decoration: none;
    color: $brand-primary;
  }
}

.page-section {
  @include span(12);
  padding-top: 3.5em;
  padding-bottom: 4em;
  text-align: center;
}
.page-section-small {
  @include span(12);
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  text-align: center;
}

.h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

.h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

.h4 {
  font-size: 1em;
  margin: 1.33em 0;
}


.h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

.h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

.small {
  font-size: 75%;
}

.text-muted {
  color: $text-muted;
}



.section-text {}

.section-row {
  @extend .clearfix;
}

.row-item {
  @include span(12);
}

.item-img {
  max-height: 120px;
}

.inline-item {
  display: inline-block;
  width: auto;
  float: none;
  margin-right: -1.5%;
  vertical-align: top;
}

.inline-row {
}