//========================================
// Mixins
//========================================

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
}

.header-link {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding-left: .75rem;
  padding-right: .75rem;
  color: $f-lighter;
  font-family: $font-secondary;
  transition: background-color $normal, color $normal; 

  @media (min-width: $screen-md-min) {
    width: auto;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    background-color: $brand-primary;
    transition: transform $normal; 
  }

  &:hover {
    text-decoration: none;
    color: $brand-primary;

    &:after {
      transform: scaleX(1);
    }
  }
}

.page-section {
  padding-top: 3.5rem;
  padding-bottom: 3.5em;
  text-align: center;
}
.page-section-small {
  padding-top: 1.75rem;
  padding-bottom: 1.75em;
  text-align: center;
}

.section-title {
  font-size: 1.75em;
}

.section-text {}

.section-row {}

.row-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-img {
  max-height: 120px;
}