<nav class="nav-main">
  <a class="nav-main__link" href="#introduction">Знакомство</a>
  <a class="nav-main__link" href="#intents">Цели</a>
  <a class="nav-main__link" href="#skills">Навыки</a>
  <a class="nav-main__link" href="#portfolio">Портфолио</a>
  <a class="nav-main__link" href="#contacts">Контакты</a>
</nav>