// Header

.header {
  display: none;
  @extend .clearfix;
  background-color: $bg-dark;
  line-height: 4em;

  &__link {
    @extend .header-link;
    font-size: 1.5em;

    &:first-letter {
      color: $brand-primary;
    }
  }

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.nav-main {
  float: right;
  display: block;
  width: auto;
  text-align: left;

  &__link {
    @extend .header-link;
    float: none;

    @media (min-width: $screen-md-min) {
      float: left;
    }
  }
}

// Introduction

.introduction {
  @extend .page-section;
  background-color: $bg-darker;
  color: $f-light;

  &__text {}
}


// Intents

.intents {
  @extend .page-section;
  background-color: $bg-light;
  color: $f-base;

  &__list {}
}

.intents-item {
  @extend .inline-item;
  padding: 15px 5%;

  @media (min-width: $screen-sm-min) {
    width: span(6);
  }

  @media (min-width: $screen-md-min) {}

  &__img {}
  &__icon {}
  &__title {}
  &__text {}
}


// Skills

.skills {
  @extend .page-section;
  background-color: $bg-lighter;
  color: $f-dark;

  &__list {}

}

.skills-item {
  @extend .inline-item;
  padding: 15px 5%;

  &__img {
    max-height: 50px;

    @media (min-width: $screen-xs-min) {
      max-height: 60px;
    }
    @media (min-width: $screen-sm-min) {
      max-height: 80px;
    }
    @media (min-width: $screen-md-min) {
      max-height: 100px;
    }
  }
  &__caption {}
}


// Portfolio

.portfolio {
  @extend .page-section;
  background-color: $bg-light;
  color: $f-base;
}

.portfolio-item {
  @extend .inline-item;
  padding: 15px 5%;

  @media (min-width: $screen-sm-min) {
    max-width: span(6);
  }

  &__link {}
  &__img {
    max-height: 50px;

    @media (min-width: $screen-xs-min) {
      max-height: 60px;
    }
    @media (min-width: $screen-sm-min) {
      max-height: 80px;
    }
    @media (min-width: $screen-md-min) {
      max-height: 100px;
    }
  }
  &__caption {}
}


// Profiles

.profiles {
  @extend .page-section;
  background-color: $bg-lighter;
  color: $f-base;

  &__list {
    @extend .section-row;
  }
}

.profiles-item {
  @extend .inline-item;
  padding: 15px 5%;

  &__link {}
  &__img {
    max-height: 20px;

    @media (min-width: $screen-xs-min) {
      max-height: 25px;
    }

    @media (min-width: $screen-sm-min) {
      max-height: 30px;
    }

    @media (min-width: $screen-md-min) {
      max-height: 35px;
    }
  }
  &__caption {}
}


// Contacts

.contacts {
  @extend .page-section;
  background-color: $bg-darker;
  color: $f-light;
}

.contacts-item {
  margin: 1em;
  display: block;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

.sprite {
  background-image: url(../img/sprite-contacts.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -0.2em;
  margin-right: 0.1em;
}

.sprite-hh {
  background-position: -2px -2px;
}

.sprite-vk {
  background-position: -26px -2px;
}

.sprite-phone {
  background-position: -50px -2px;
}

// Footer

.footer {
  @extend .page-section-small;
  background-color: $bg-dark;
  color: $f-lighter;
}



// @media (min-width: $screen-xs-min) {}
// @media (min-width: $screen-sm-min) {}
// @media (min-width: $screen-md-min) {}
// @media (min-width: $screen-lg-min) {}
// @media (min-width: $screen-xl-min) {}