// Header

.header {
  @extend .clearfix;
  background-color: $bg-dark;
  line-height: 4rem;

  &__link {
    @extend .header-link;
    font-size: 1.5rem;

    &:first-letter {
      color: $brand-primary;
    }
  }

}