.nav-main {
  display: none;
  float: right;
  width: 100%;
  text-align: center;

  @media (min-width: $screen-md-min) {
    display: block;
    width: auto;
    text-align: left;
  }

  &__link {
    @extend .header-link;
    float: none;

    @media (min-width: $screen-md-min) {
      float: left;
    }
  }
}