{{> head }}

  <body>
    {{> header }}   
    
    <a id="introduction"></a>
    <section class="introduction">
      <div class="container">
        <h1 class="h2">Здравствуйте, меня зовут <i>Бондаренко Юрий</i></h1>
        <p class="introduction__text">Вы находитесь на моей <i>странице-резюме</i>, на ней я бы хотел рассказать немного о себе и предоставить возможному работодателю информацию о навыках, которыми обладаю.</p>
      </div><!-- /.container -->  
    </section><!-- /.introduction --> 

    
    <a id="intents"></a>
    <section class="intents">
      <div class="container">
        <h2 class="h2">Краткосрочные <i>цели</i>, которые я планирую достигнуть</h2>

        <div class="intents__list">
          <div class="intents-item">
            <img class="intents-item__img" src="img/intends/js.png">
            <!-- <span class="intents-item__icon"></span> -->
            <h3 class="intents-item__title">Изучение JavaScript</h3>
            <p class="intents-item__text">Продолжить изучение JavaScript и стать полноценным frontend-разработчиком. В дальнейшем изучить наиболее востребованные фреймворки и библиотеки.</p>
          </div><!-- /.intents-item --> 
            
          <div class="intents-item">
            <img class="intents-item__img" src="img/intends/career.png">
            <!-- <span class="intents-item__icon"></span> -->
            <h3 class="intents-item__title">Трудоустроиться</h3>
            <p class="intents-item__text">Трудоустроиться в компанию, в которой бы я смог развивать имеющиеся и приобретать новые профессиональные навыки.</p>
          </div><!-- /.intents-item -->
        </div><!-- /.intents__list -->

      </div><!-- /.container -->     
    </section><!-- /.intents -->
    
    
    <a id="skills"></a>
    <section class="skills">
      <div class="container">
        <h2 class="h2"><i>Инструменты</i>, с которыми я работал</h2>

        <div class="skills__list section-row">
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/html5.png" alt="HTML5">
            <p class="skills-item__caption">HTML5</p>
          </div><!-- /.skills-item -->
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/css3.png" alt="CSS3">
            <p class="skills-item__caption">CSS3</p>
          </div><!-- /.skills-item -->
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/bootstrap3.png" alt="Bootstrap 3">
            <p class="skills-item__caption">Bootstrap 3</p>
          </div><!-- /.skills-item -->
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/wordpress.png" alt="CMS WordPress">
            <p class="skills-item__caption">CMS WordPress</p>
          </div><!-- /.skills-item -->
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/joomla3.png" alt="CMS Joomla 3">
            <p class="skills-item__caption">CMS Joomla 3</p>
          </div><!-- /.skills-item -->
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/gulp.png" alt="Gulp">
            <p class="skills-item__caption">Gulp</p>
          </div><!-- /.skills-item -->
          
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/sass.png" alt="SASS">
            <p class="skills-item__caption">SASS</p>
          </div><!-- /.skills-item -->
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/less.png" alt="LESS">
            <!-- <div class="test"></div> -->
            <p class="skills-item__caption">LESS</p>
          </div><!-- /.skills-item -->
          <div class="skills-item">
            <img class="skills-item__img" src="img/skills/git.png" alt="Git">
            <p class="skills-item__caption">Git</p>
          </div><!-- /.skills-item -->
        </div><!-- /.skills__list -->
          
      </div><!-- /.container -->    
    </section><!-- /.skills -->
    
    
    <a id="portfolio"></a>
    <section class="portfolio">
      <div class="container">
        <h2 class="h2">Мои <i>работы</i>.</h2>
        
        <div class="portfolio-row section-row">
          <div class="portfolio-item">
            <a class="portfolio-item__link" href="https://broomber.github.io/vice-city-menu/" target="_blank">
              <img class="portfolio-item__img" src="img/portfolio/vice-city.png" alt="Меню игры GTA: Vice City">
            </a>
            <p class="portfolio-item__caption">Реализация меню игры </br>GTA: Vice City на HTML-CSS-JS. <!-- <a href="#" class="text-muted" title="На GitHub Pages некорректно расчитывается ширина рамки активного элемента. При развертывании на ПК всё корректно.">[?]</a>  --><a class="portfolio-item__link" href="https://github.com/Broomber/vice-city-menu" target="_blank">GitHub
            </a></p>
          </div><!-- /.portfolio-item -->
          <div class="portfolio-item">
            <a class="portfolio-item__link" href="http://sky-diving.esy.es/" target="_blank">
              <img class="portfolio-item__img" src="img/portfolio/favorit.png" alt="Фаворит, школа парашютного спорта">
            </a>
            <p class="portfolio-item__caption">Сайт разработанный на CMS Joomla 3.5. </br>Курсовая работа в колледже</p>
          </div><!-- /.portfolio-item -->
        </div><!-- /.portfolio-row -->
        
      </div><!-- /.container -->    
    </section><!-- /.portfolio -->
    
    
    <a id="profiles"></a>
    <section class="profiles page-section">
      <div class="container">
        <h2 class="h2">Профили</h2>

        <div class="profiles__list">
          <div class="profiles-item">
            <a class="portfolio-item__link" href="https://www.codecademy.com/Broomber" target="_blank">
              <img class="profiles-item__img" src="img/profiles/codecademy.png" alt="Codecademy">
            </a>
          </div><!-- /.profiles-item -->
          <div class="profiles-item">
            <a class="portfolio-item__link" href="https://htmlacademy.ru/profile/id112264" target="_blank">
              <img class="profiles-item__img" src="img/profiles/html-academy.png" alt="HTML Academy">
            </a>
          </div><!-- /.profiles-item -->
          <div class="profiles-item">
            <a class="portfolio-item__link" href="https://github.com/Broomber" target="_blank">
              <img class="profiles-item__img" src="img/profiles/github.png" alt="GitHub">
            </a>
          </div><!-- /.profiles-item -->
          <div class="profiles-item">
            <a class="portfolio-item__link" href="https://www.codewars.com/users/Broomber" target="_blank">
              <img class="profiles-item__img" src="img/profiles/codewars.png" alt="CodeWars">
            </a>
          </div><!-- /.profiles-item -->
        </div><!-- /.skills__list -->
      </div><!-- /.container -->    
    </section><!-- /.profiles -->

    
    <a id="contacts"></a>
    <section class="contacts">
      <div class="container">
        <h2 class="h2">Контактная информация</h2>
        
        <div class="contacts-container">
          <span class="contacts-item contacts-item_hh">
            <a href="https://omsk.hh.ru/resume/141d5bc3ff0323abbf0039ed1f467a71354e6c" rel="nofollow" target="_blank">
              <span class="sprite sprite-hh"></span>
              HeadHunter.ru
            </a>
          </span><!-- /.contacts-item_hh -->
          
          <span class="contacts-item contacts-item_phone">
           <a href="tel:+79509566270">
              <span class="sprite sprite-phone"></span>
              +7-950-956-62-70
            </a>
          </span><!-- /.contacts-item_phone -->
          
          <span class="contacts-item contacts-item_vk">
            <a href="https://vk.com/id212513518" rel="nofollow" target="_blank">
              <span class="sprite sprite-vk"></span>
              vk.com
            </a>
          </span><!-- /.contacts-item_vk -->
        </div><!-- /.contacts-container -->

      </div><!-- /.container -->     
    </section><!-- /.contacts -->
    
    {{> footer }}

    {{> link-script }}
    
  </body>
</html>